<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="fa.fa004">
	<!-- 查询业务字典一览信息 -->    
	<select id="fa004001searchListByPage" resultType="fa004001resultCommand" parameterType="fa004001searchCommand">
	<![CDATA[
		SELECT 
 			t.busidicttypeid, t.busidicttypename,
			ROW_NUMBER() OVER(order by t.busidicttypeid, t.busidicttypename ) as rownum 
		FROM [dbo].[s_busidicttype] t where 1=1 
	]]> 
		<if test="busidicttypeid!=null and busidicttypeid!=''">
			and t.busidicttypeid like '%'+#{busidicttypeid}+'%'
		</if>
		<if test="busidicttypename!=null and busidicttypename!=''">
			and t.busidicttypename like '%'+#{busidicttypename}+'%'
		</if>	
	</select>
	<!-- 根据业务字典类型id查询业务字典 -->    
	<select id="fa004001searchDictById" resultType="fa004001resultCommand" parameterType="fa004001searchCommand">
	<![CDATA[
		SELECT 
			busidicttypeid,
			busidictid,
			busidictname					
		FROM [OA].[dbo].[s_busidict] t where 1=1
	]]> 
		<if test="busidicttypeid!=null and busidicttypeid!=''">
			and t.busidicttypeid = #{busidicttypeid}
		</if>
		<if test="busidictid!=null and busidictid!=''">
			and t.busidictid = #{busidictid}
		</if>
		order by t.sortno	
	</select>
	<!-- 根据业务字典类型id查询业务字典 -->    
	<select id="fa004001queryDictById" resultType="busidict" parameterType="java.util.Map">
	<![CDATA[
		SELECT 
			busidicttypeid,
			busidictid,
			busidictname,
			sortno					
		FROM [OA].[dbo].[s_busidict] t where 1=1
	]]> 
		<if test="id!=null and id!=''">
			and t.busidicttypeid = #{id}
		</if>
		order by t.sortno	
	</select>
	<!-- 根据业务字典类型id删除业务字典类型表 --> 
	<delete id="fa004001PDBusiDictType" parameterType="java.lang.String">
    	delete from [dbo].[s_busidicttype] where busidicttypeid = #{busidicttypeid, jdbcType=VARCHAR}
    </delete>
    <!-- 根据业务字典类型id删除业务字典表 --> 
	<delete id="fa004001PDBusiDict" parameterType="java.lang.String">
    	delete from [dbo].[s_busidict] where busidicttypeid = #{busidicttypeid, jdbcType=VARCHAR}
    </delete>
</mapper>