<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
    
<mapper namespace="common.ajax">
	<!-- 查询申请一览信息 -->    
	<select id="searchApplyList" resultType="applyResultCommand" parameterType="java.util.Map">
	<![CDATA[
		SELECT 
			convert(char(19), t.processtime, 120) as processtime, t.applyid, t.applyno, t.exclusivefg, t.applyempid, t1.empname as applyempname, 
			t.processempid, t2.empname as processempname, t.applytype, dict1.busidictname as applytypedict, t.status, dict2.busidictname as statusdict, 
			ROW_NUMBER() OVER(order by t.processtime desc, t.applyno ) as rownum 
		FROM [dbo].[t_applyform] t 
		inner join [dbo].[t_empinfo] t1 
			on t.applyempid = t1.empid and t.deletefg = t1.deletefg
		inner join [dbo].[t_empinfo] t2 
			on t.processempid = t2.empid and t.deletefg = t2.deletefg  
		left join [dbo].[s_busidict] dict1 
			on t.applytype = dict1.busidictid and dict1.busidicttypeid = 'OA_PC001_ApplyType' 
		left join [dbo].[s_busidict] dict2 
			on t.status = dict2.busidictid and dict2.busidicttypeid = 'OA_PC003_Status' 
		where t.deletefg = '0' and t.status in (6)  
	]]> 
		<if test="empid!=null and empid!=''">
			and t.personfilecheckid = #{empid}
		</if>
	</select>
	<select id="checkUniqueCardno" parameterType="java.util.Map" resultType="int">
	<![CDATA[
		SELECT 
			count(*) 
		FROM [dbo].[t_empinfo] t where deletefg = '0'
	]]> 
		<if test="cardno!=null and cardno!=''">
			and t.cardno = #{cardno}
		</if>	
    </select>
    <!-- 根据orgcdid depid查询员工信息 -->    
	<select id="getEmpsByOrgcdDepid" resultType="dictEntity" parameterType="java.util.Map">
	<![CDATA[
		select v.empid as busidictid, v.empname as busidictname  from [dbo].[v_orgdepposemp] v 
		where v.orgcdid = #{orgcdid} and v.depid = #{depid}
			order by v.depid, v.posid		 
	]]>		
	</select>
	<!-- 根据orgcdid查询部门信息 -->    
	<select id="getDepsByOrgcdid" resultType="dictEntity" parameterType="java.util.Map">
	<![CDATA[
		select v.depid as busidictid, v.depiddict as busidictname  from [dbo].[v_orgdepposemp] v 
		where v.orgcdid = #{orgcdid} group by v.depid, v.depiddict 
			order by v.depid		 
	]]>		
	</select>	
    <select id="checkUniqueUsername" parameterType="java.util.Map" resultType="int">
	<![CDATA[
		SELECT 
			count(*) 
		FROM [dbo].[t_empinfo] t where deletefg = '0' and t.username = #{username}
	]]> 
		<if test="empid!=null and empid!=''">
			and t.empid != #{empid}
		</if>	
    </select>
    <select id="checkUniqueTypeId" parameterType="java.util.Map" resultType="int">
	<![CDATA[
		SELECT 
			count(*) 
		FROM [dbo].[s_busidicttype] t where t.busidicttypeid = #{typeid}
	]]> 
		<if test="busidicttypeid!=null and busidicttypeid!=''">
			and t.busidicttypeid != #{busidicttypeid}
		</if>	
    </select>
    <update id="updateBusiDictType" parameterType="java.util.Map">
   	<![CDATA[
		update [dbo].[s_busidicttype] set busidicttypeid = #{typeid}, busidicttypename = #{typename} 
		where busidicttypeid = #{busidicttypeid}
	]]> 
    </update>
    <update id="updateBusiDict" parameterType="java.util.Map">
   	<![CDATA[
		update [dbo].[s_busidict] set busidicttypeid = #{typeid}
		where busidicttypeid = #{busidicttypeid}
	]]> 
    </update>
    <select id="checkLegalyear" parameterType="java.util.Map" resultType="int">
	<![CDATA[
		SELECT 
			count(*) 
		FROM [dbo].[t_nationlegalday] t where deletefg = '0'
	]]> 
		<if test="legalyear!=null and legalyear!=''">
			and t.legalyear = #{legalyear}
		</if>
    </select> 
    
    <select id="checkAnnualVctn" parameterType="java.util.Map" resultType="int">
	<![CDATA[
		SELECT 
			count(*) 
		FROM [dbo].[t_annualvctn] t where deletefg = '0'
	]]> 
		<if test="year!=null and year!=''">
			and t.year = #{year}
		</if>
    </select> 
    
    <select id="checkDeviceOrder" parameterType="java.util.Map" resultType="int">
	<![CDATA[
		select count(*)  
		from [dbo].[t_eventdevice] t1  			
		inner join [dbo].[t_eventtime] t2 
			on t1.eventid = t2.eventid and t1.deletefg = t2.deletefg 
		inner join [dbo].[t_event] t3 
			on t1.eventid = t3.eventid and t1.deletefg = t3.deletefg 
		where t3.status != '9' and t1.deletefg = '0'
	]]> 
		<if test="eventid!=null and eventid!=''">
			and t1.eventid != #{eventid}
		</if>
		<if test="deviceid!=null and deviceid!=''">
			and t1.dailydeviceid = #{deviceid}
		</if>
		<if test="start!=null and start!='' and end!='' and end!=''">
			and ( 
				(t2.eventstarttime &lt; CONVERT(datetime, #{start}, 20) and t2.eventendtime &gt; CONVERT(datetime, #{start}, 20)) or 
				(t2.eventstarttime &lt; CONVERT(datetime, #{end}, 20) and t2.eventendtime &gt; CONVERT(datetime, #{end}, 20)) or 
				(t2.eventstarttime &gt;= CONVERT(datetime, #{start}, 20) and t2.eventendtime &lt;= CONVERT(datetime, #{end}, 20))
			)
		</if>
    </select>
    <select id="checkDailyConflict" parameterType="java.util.Map" resultType="int">
	<![CDATA[
		select count(*)  
		from [dbo].[t_dailyplan] t1
		where t1.deletefg = '0'
	]]> 
		<if test="eventid!=null and eventid!=''">
			and t1.eventid != #{eventid}
		</if>
		<if test="id!=null and id!=''">
			and t1.empid = #{id}
		</if>
		<if test="start!=null and start!='' and end!='' and end!=''">
			and ( 
				(t1.dailystarttime &lt; CONVERT(datetime, #{start}, 20) and t1.dailyendtime &gt; CONVERT(datetime, #{start}, 20)) or 
				(t1.dailystarttime &lt; CONVERT(datetime, #{end}, 20) and t1.dailyendtime &gt; CONVERT(datetime, #{end}, 20)) or 
				(t1.dailystarttime &gt;= CONVERT(datetime, #{start}, 20) and t1.dailyendtime &lt;= CONVERT(datetime, #{end}, 20))
			)
		</if>
    </select>       
    <select id="getDeviceName" parameterType="java.util.Map" resultType="java.lang.String">
	<![CDATA[
		SELECT 
			t.dailydevicename 
		FROM [dbo].[t_dailydeviceinfo] t where t.deletefg = '0'
	]]> 
		<if test="dailydeviceid!=null and dailydeviceid!=''">
			and t.dailydeviceid = #{dailydeviceid}
		</if>
    </select>
    <select id="getEmpName" parameterType="java.util.Map" resultType="java.lang.String">
	<![CDATA[
		SELECT 
			t.empname 
		FROM [dbo].[t_empinfo] t where t.deletefg = '0'
	]]> 
		<if test="empid!=null and empid!=''">
			and t.empid = #{empid}
		</if>
    </select>   
    <update id="updateApplyFormStatus" parameterType="applyform">
	<![CDATA[
        update t_applyform set
           updator = #{updator, jdbcType=VARCHAR}
           ,updatetime = #{updatetime, jdbcType=TIME}
           ,exclusivefg = #{updateexclusivefg, jdbcType=VARCHAR}
           ,orgid = #{orgid, jdbcType=VARCHAR}
           ,processempid = #{processempid, jdbcType=VARCHAR}
           ,processtime = #{processtime, jdbcType=TIME}          
           ,status = #{status, jdbcType=VARCHAR}      
    	where applyid = #{applyid, jdbcType=VARCHAR} and deletefg = '0'           
    ]]>
    	<if test="exclusivefg!=null and exclusivefg!=''">
			and exclusivefg = #{exclusivefg , jdbcType=VARCHAR}
		</if>	   
    </update>
</mapper>